annotated-types==0.7.0
ansible==8.6.1
ansible-core==2.15.6
anyio==4.4.0
apturl==0.5.2
asgiref==3.8.1
attrs==23.2.0
awscli==1.33.9
bcrypt==3.1.7
blinker==1.7.0
botocore==1.34.127
cachetools==5.2.1
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.4
command-not-found==0.3
cryptography==3.3.2
cssselect==1.2.0
cssutils==2.11.1
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
defer==1.0.6
distro==1.9.0
distro-info==1.0
Django==4.2.11
django-extensions==3.2.3
django-filter==24.2
djangorestframework==3.15.1
dnspython==2.7.0
docker==7.0.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
duplicity==0.8.17
email-validator==2.2.0
exceptiongroup==1.2.2
fastapi==0.115.4
fastapi-cli==0.0.5
fasteners==0.14.1
Flask==2.3.2
fonttools==4.34.4
future==0.18.2
google-auth==2.16.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.18.1
httptools==0.6.4
httpx==0.27.2
idna==2.10
importlib-metadata==7.1.0
importlib-resources==5.0.7
iniconfig==2.0.0
install-release==0.4.1
itsdangerous==2.2.0
jeepney==0.6.0
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
jsonschema==3.2.0
keyring==22.2.0
kiwisolver==1.4.4
kubernetes==25.3.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lockfile==0.12.2
lxml==5.3.0
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.2
mdurl==0.1.2
monotonic==1.5
more-itertools==10.5.0
mysql-connector-python==8.0.29
netifaces==0.10.9
numpy==1.23.1
oauthlib==3.1.0
olefile==0.46
openai==1.43.0
openshift==0.13.1
orjson==3.10.11
packaging==21.3
pandas==2.2.3
paramiko==2.7.2
pexpect==4.8.0
Pillow==8.1.2
pluggy==1.5.0
premailer==3.10.0
protobuf==3.12.4
psutil==5.8.0
psycopg2-binary==2.9.10
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycairo==1.16.2
pycups==2.0.1
pydantic==2.8.2
pydantic-core==2.20.1
pydantic-extra-types==2.10.0
pydantic-settings==2.6.1
pygments==2.17.2
PyGObject==3.38.0
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==4.1.1
PyMySQL==1.0.2
PyNaCl==1.4.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.20.0
pytest==8.3.3
python-apt===2.2.0-ubuntu0.21.04.1
python-dateutil==2.9.0.post0
python-debian==0.1.39
python-dotenv==0.21.1
python-magic==0.4.27
python-multipart==0.0.17
python-string-utils==1.0.0
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.5.66
requests==2.31.0
requests-oauthlib==1.3.1
resolvelib==0.8.1
rich==13.7.1
rsa==4.7.2
s3transfer==0.10.1
SecretStorage==3.3.1
shellingham==1.5.4
simplejson==3.17.2
six==1.15.0
sniffio==1.3.1
SpeechRecognition==3.10.4
SQLAlchemy==2.0.36
sqlparse==0.4.4
starlette==0.41.2
systemd-python==234
texttable==1.7.0
tomli==2.1.0
tqdm==4.66.5
typer==0.13.0
typing-extensions==4.11.0
tzdata==2024.2
ubuntu-advantage-tools==27.5
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==5.10.0
unattended-upgrades==0.1
urllib3==1.26.2
usb-creator==0.3.7
uvicorn==0.32.0
uvloop==0.21.0
vboxapi==1.0
wadllib==1.3.5
watchfiles==0.24.0
websocket-client==0.59.0
websockets==14.0
werkzeug==3.0.2
xdg==5
xkit==0.0.0
yagmail==0.15.293
zipp==3.18.1
